{% extends 'base.html' %}
{% block title %} Change Case Tool | {% endblock %}

{% block style %}
    <style>

        .button_back{
            background-color:aquamarine ;
            height: 150px;

            }
            textarea::placeholder {
                font-size: 30px;
                text-align: center;
                padding: 20px;
              }

            .text_align h1{
            text-align: center;
            }
            .text_align p{
            text-align: center;
            }
.nav-link active

{
    border-bottom: 1px solid black;
}
.left-tabs.nav-tabs {
    border-right: none;
    border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #dee2e6;
}
.nav-link
{
         color: black;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    padding: 10px;
    text-align: center;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
    </style>

{% endblock %}

{% block script %}
    <script>
        //--------------- Upper To Lower
        function lower_Case(){
         let text = document.getElementById("word").value;
         document.getElementById("passed").value = text.toLowerCase();
        }

        // --------------Lower To Upper
        function upper_case()
        {
            let upr=document.getElementById("word").value;
            document.getElementById("passed").value=upr.toUpperCase();
        }

        //---------- Capital Each Word
        function capital()
        {

            const text = document.getElementById("word").value;
            const capitall= text.split(" ");
            let new_text = ""
            for (let i = 0; i < capitall.length; i++)
             {
                new_text = new_text + " " +capitall[i][0].toUpperCase() + capitall[i].substr(1);
            }

            // alert(new_text)
            document.getElementById("passed").value = new_text;

        }

        //-----------Toggle Case
        function toggleCase() {
        let data = ""
        let inverted = document.getElementById("word").value;
        for (var i = 0; i < inverted.length; i++) {

            if (inverted.charCodeAt(i) >= 65 && inverted.charCodeAt(i) <= 90)
            data += inverted.charAt(i).toLowerCase();
            else
            data += inverted.charAt(i).toUpperCase();

            }
            document.getElementById("passed").value = data;

        return data;
        }

        // //-----------Alternate Case
        function alternatecase() {
        let text =  document.getElementById("word").value;

        let charArray = text.toLowerCase().split("");
        // console.log(charArray)

        for (let i = 1; i < charArray.length; i += 2) {
            charArray[i] = charArray[i].toUpperCase();
        }
        // console.log(charArray ,"--new")
        document.getElementById("passed").value = charArray.join("");
        return charArray;

        };


        ////---------------Sentence case
        function SentenceCase(){
            let mainstr = document.getElementById("word").value;

            let ret = mainstr
            .split("_")
            .filter(x => x.length > 0)
            .map((x) => (x.charAt(0).toUpperCase() + x.slice(1)))
            .join(" ");
            document.getElementById("passed").value = ret;
        };


        ///--------------------Show alert message
        document.getElementById('nav-home-tab'  ).addEventListener('click', function(){
        let taVal = document.getElementById('word').value;
        if(taVal == ''){
            alert("Please Enter a word")
        } else{
            console.log("success")
        }
        })

     </script>


{% endblock %}


{% block content %}
      <!-- Heros Section -->


    <div class="row mt-4">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 text_align">
        <h1>CHANGE TEXT CASE</h1>
        <p>Change Text Case is a handy web application that enables you to change the text case of any given text. Simply copy and paste the text into the text area below and click the required text case.</p>
        </div>
        <div class="col-md-2">

        </div>

    </div>




    <div class="row mt-4">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <form action='/ChangeCase/' name="word"  method="POST">
                {% csrf_token %}



                <textarea class="form-control" rows="4" id="word" name="word" placeholder="Enter Text Here" style="width:100% ;" required></textarea>
                    <!-- <label for="floatingTextarea2">Comments</label> -->




            </form>
        </div>
        <div class="col-md-2">

        </div>
    </div>





    <!-- Button and Data-->

    <div class="row mt-4">
        <div class="col-md-2">


            <nav>
                <div class="nav nav-tabs left-tabs"  id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" onclick="lower_Case()"  data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">lower</button>
                  <button class="nav-link" id="nav-profile-tab" onclick="upper_case()" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">UPPER</button>
                  <button class="nav-link" id="nav-contact-tab" onclick="capital()" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Capitalize</button>
                  <button class="nav-link" id="nav-toggle-tab" onclick="toggleCase()" data-bs-toggle="tab" data-bs-target="#nav-toggle" type="button" role="tab" aria-controls="nav-toggle" aria-selected="false">tOGGLE cASE</button>
                  <button class="nav-link" id="nav-alter-tab"  onclick="alternatecase()" data-bs-toggle="tab" data-bs-target="#nav-alter" type="button" role="tab" aria-controls="nav-alter" aria-selected="false">aLtErNaTe cAsE</button>
                  <button class="nav-link" id="nav-sentense-tab" onclick="SentenceCase()" data-bs-toggle="tab" data-bs-target="#nav-sentense" type="button" role="tab" aria-controls="nav-sentense" aria-selected="false">Sentense case</button>

                </div>
              </nav>

        </div>
        <div class="col-md-8">
            <textarea rows="9" id="passed" name="word"style="width:100% ;"  disabled="disabled"></textarea>

        </div>
        <div class="col-md-2">

        </div>
    </div>



{% endblock %}


