{% extends 'base.html' %}


{% block title %} Density Checker | {% endblock %}

{% block style %}
<style>
.input_url
{
    text-align: center;
   margin-top: 20px;
}
.hide{
  display: none;
}
.text_align h1{
  text-align: center;
}
.text_align p{
  text-align: center;
}
    input#url
    {
        height: 40px;
    width: 84%;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    }
    input::placeholder {
    font-size: 20px;
    margin-left: 10px;
    padding: 10px;
    }
    .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    float: right;
    position: relative;
  
}
@media (max-width: 600px) {
      input#url
    {
        height: 40px;
    width: 72% !important;
      }

    }
</style>
{% endblock %}

{% block content %}
<!-- Hero or Desc -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 text_align">
      <h1>KEYWORD DENSITY CHECKER</h1>
      <p>If you want to check the SEO score for your site or your competitor’s. Enter the domain name or URL into the given field and click “Check SEO Score”.You will get the results in no time!</p>
    </div>
    <div class="col-md-2  ">
    
    </div>

  </div>

</div>
       

      <!-- Form  -->

      <div class="container">
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-6">
            <form action='/density/' id="update" class="input_url" method="POST">
              {% csrf_token %}
          
              <input type="text" class="form-control" id="url" name="url" placeholder="Enter Url">
              <!-- <input type="text" name="url" id=url placeholder="enter url" style="margin-right:10px ;"><br><br> -->
              <button class="btn btn-outline-success" type="submit">Search</button>
              <!-- <button type="submit" class="btn btn-primary">Submit</button>           -->
      
              <!-- <label for="">Enter Url </label> -->
                  <!-- <input type="text" name="url" id=url placeholder="enter url"><br><br>
          
                  <button type="submit" class="btn btn-primary">Submit</button>      -->
              
          </form>
          </div>
          <div class="col-md-3">

          </div>
        </div>
      </div>
       
     


   

        <div class="container mt-5">
          <div class="row">
            <div class="col-md-3">
              <div class="list-group">
                  <!-- <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    The current link item
                  </a> -->
                <a href="#" onclick="showTable('one_word')"  class="list-group-item list-group-item-action"aria-current="true">One Word</a>
                <a href="#" onclick="showTable('TWO_word')" class="list-group-item list-group-item-action">Two Word</a>
                <a href="#" onclick="showTable('Three_word')"  class="list-group-item list-group-item-action">Three Word</a>
                
              </div>
              
            </div>



            <div class="col-md-6">
              <!-- One Word Density  -->
              <table class="table" id="one_word">
                <tbody>
                  <tr>
                    <th>Word</th>
                    <th>Freq.</th>
                    <th>Density</th>
                    <th>Title</th>
                  </tr>

                  {% for key,val in data.items %}
                   <tr>
                      <td>{{key}}</td>
                      <td>{{val.freq}}</td>
                      <td>{{val.density}}</td>
                    {% endfor %}
                   
                   </tr>
                </tbody>
              </table>

              <!-- Two Word Density Check -->
              <table class="table hide" id="TWO_word">
                <tbody>
                  <tr>
                    <th>Word</th>
                    <th>Freq.</th>
                    <th>Density</th>
                  </tr>

                  {% for key1,val1 in data1.items %}
                  <tr>
                    <td>{{key1}}</td>
                     <td>{{val1.freq1}}</td>
                     <td>{{val1.density1}}</td>
                   {% endfor %}
                  
                  </tr>
                </tbody>
              </table>


               <!-- THree Word Density Check -->
              <table class="table hide" id="Three_word">
                <tbody>
                  <tr>
                    <th>Word</th>
                    <th>Freq.</th>
                    <th>Density</th>
                  </tr>

                  {% for key2,val2 in data2.items %}
                  <tr>
                    <td>{{key2}}</td>
                     <td>{{val2.freq2}}</td>
                     <td>{{val2.density2}}</td>
                   {% endfor %}
                  
                  </tr>
                </tbody>
              </table>
              
            </div>
            <div class="col-md-3">

            </div>
          </div>
        </div>
      


      </div>
      
{% endblock %}  
   
{% block script %}
    <script>
      function showTable(table_id){
        let table = document.getElementById(table_id)
        table.classList.remove("hide")
        if(table_id === 'one_word'){
          document.getElementById("TWO_word").classList.add("hide")
          document.getElementById("Three_word").classList.add("hide")
        }else if(table_id === 'TWO_word'){
          document.getElementById("one_word").classList.add("hide")
          document.getElementById("Three_word").classList.add("hide")
        }else if(table_id === 'Three_word'){
          document.getElementById("one_word").classList.add("hide")
          document.getElementById("TWO_word").classList.add("hide")
        }
        console.log(table_id)
      }
    </script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


    {% endblock %}