
{% extends 'base.html' %}
{% load static %}
{% block title %} Word Counter Tool | {% endblock %}

{% block style %} 
<style>

      .foot_back
      {
        background-color: rgba(0, 0, 0, 0.918);
      }
      .my-4 {
        margin-bottom: 0 !important;
      }
      .content
      {
        height: 520px;
      }
      /* .STATISTICS
      {
        
          height: 250px;
      }
      .STATISTICS h5
      {
         margin-top: 20px;
         text-align: center;
      }
      .STATISTICS p{
          font-size: 15px;
          text-align: center;
      } */
      .read_time
      {
        
          height: 150px;
      }
     
      .read_time p
      {
          font-size: 15px;
          text-align: center;
      }
      textarea::placeholder {
        font-size: 30px;
        text-align: center;
        padding: 10px;
      }
      div#v-pills-tab a {
    text-decoration: none;
    color: black;
}
      .read_btn
      {
        font-size: 20px;
       
      }
      .word_btn{
        font-size: 20px;
      }
     th{
      text-align: left; 
     }
     .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    font-size: 15px;
}
     .enterdesc
     {
      background-color: greenyellow;
     }
    button.nav-link.id\= {
    width: 100%;
    color: black;
}
button#v-pills-profile-tab {
    WIDTH: 100%;
    color: black;
}
div#nav-profile {
    margin-top: -100px;
    position: absolute;
}
.alert {
    text-align: center;
}
    </style>
{% endblock %}
 


{% block content %}
     <!-- Herosssss -->
     <div class="px-3 py-3 mt-3 text-center">
      <h1 class="display-5 fw-bold">Word Counter</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">To use this Word Count Checker, please copy and paste your content into the box below, and then sit back and watch as Word Count Checker will run a real-time scan.</p>
      </div>
    </div>



    <!-- Grid -->
  <div class="container text-center">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" >
          

          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Word Count</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">File Upload</button>
              <!-- <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button> -->
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <form action='/Word_Count/' id="word" name="word" class="input_url1" method="POST">

              {% csrf_token %}
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <textarea rows="3" id="word" name="word" placeholder="Enter Text Here" style="width:100%">{{word}}</textarea>
              <button type="submit" class="btn btn-primary mt-2 btn-center">Count Words</button> 
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <input type="file" id="myFile" name="filename">
              <button type="submit" class="btn btn-primary mt-2 btn-center">Upload file</button>         
            </div>
            <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div> -->
          </div>



           
  
        
            </form>
     
        </div>
        <div class="col-md-3">
        </div>

      </div>
  </div>
    

<!-- Word Description -->
<div class="container">
<div class="row mt-5 ">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 alert alert-info "role="alert">
    You entered the total {{Total_word}} word and total {{word_length}} character
  </div>
  <div class="col-md-2">

  </div>
  </div>
</div>


<!-- Heading -->
    <div class="row mt-4">
      <h5>BASIC WORDS COUNT STATISTICS</h5>
    </div>

      <div class="row mt-3 content">
        <div class="col-md-3">
        
            <!-- <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              The current link item
            </a> -->
          <!-- <a href="#STATISTICS "  class="list-group-item list-group-item-action  btn btn-outline-primary word_btn">WORDS STATISTICS</a>
          <a href="#READING"  class="list-group-item list-group-item-action btn btn-outline-primary read_btn">READING TIME</a>
          -->

          <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a href="#STATISTICS"><button class="nav-link   id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">WORDS STATISTICS</button></a>
            <a href="#READING"><button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">READING TIME</button></a> 
          </div>
      

          
        </div>
          
   
        <div class="col-md-6 STATISTICS " id="STATISTICS">
          
        
                <table class="table border">

      
                  <tbody>
                      <tr>
                        <th><label for="">Total_word</label></th>
                        
                            <td> {{Total_word}}</td>
                        </tr>

                        <th><label for="">Total Characters (With Space) </label></th>
                        
                        <td>{{word_length}}</td>
                        </tr>
                        
                        <th><label for="">Total Characters (Without Space)</label></th>
                        
                        <td> {{withoutt_spc}}</td>
                        </tr>

                  </tbody>
                </table>


                <div class="row read_time " id="READING">
                  <h5>READING TIME</h5>


                <table class="table border">

      
                  <tbody>
                      <tr>
                        <th><label for="">Estimated Reading Time </label></th>
                        
                            <td> {{Reading_Time}}</td>
                        </tr>

                        <th><label for="">Estimated Speaking Time </label></th>
                        
                        <td>{{SpeakTime}}</td>
                        </tr> 
<!--                         
                        <th><label for="">Total Characters (Without Space)</label></th>
                        
                        <td> {{withoutt_spc}}</td>
                        </tr> -->

                  </tbody>
                </table>

                <!-- <hr>
                <p>Estimated Reading Time  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp {{Total_word}}</p>
                <hr>
                <p>Estimated Speaking Time (With Space)   &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp {{word_length}}</p>
                <hr> -->
              </div>


        </div>

        <div class="col-md-3">
          <div class="alert alert-success" role="alert">
            {{word_length}} &nbsp Characters
          </div>
          <div class="alert alert-primary" role="alert">
            {{Total_word}} &nbsp Words
          </div>
          <div class="alert alert-danger" role="alert">
            {{Reading_Time}} &nbsp Reading Time
          </div>
          <div class="alert alert-success" role="alert">
            {{len_sen}} &nbsp Sentences
          </div>
          <div class="alert alert-danger" role="alert">
            {{syllable}}&nbsp Syllable
          </div>
        </div>
    </div>
  </div>
   
{% endblock %}