
{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-5-vertical-tabs@2.0.0/dist/b5vtabs.min.css"
    integrity="sha384-AsoWNxsuu73eGp2MPWHa77155fyqP9rueKOeG4t2d/AD4eyBqL20TClzfbAkrul4"
    crossorigin="anonymous"
    />
{% endblock %}
{% block title %} Word Counter Tool | {% endblock %}

{% block style %}
<style>


      .foot_back
      {
        background-color: rgba(0, 0, 0, 0.918);
      }
      .my-4 {
        margin-bottom: 0 !important;
      }

      /* .STATISTICS
      {

          height: 250px;
      /* } */
      .STATISTICS h5
      {
         margin-top: 20px;
         text-align: center;
      }
      h5 {
          text-align: center;
         }
      /* .STATISTICS p{
          font-size: 15px;
          text-align: center;
      } */
      .read_time
      {

          height: 150px;
      }

      .read_time p
      {
          font-size: 15px;
          text-align: center;
      }
      textarea::placeholder {
        font-size: 30px;
        text-align: center;
        padding: 10px;
      }
      div#v-pills-tab a {
    text-decoration: none;
    color: black;
}
      .read_btn
      {
        font-size: 20px;

      }
      .word_btn{
        font-size: 20px;
      }
     th{
      text-align: left;
     }
     .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    font-size: 15px;
}
     .enterdesc
     {
      background-color: greenyellow;
     }
    button.nav-link.id\= {
    width: 100%;
    color: black;
}

.alert {
    text-align: center;
}
    </style>
{% endblock %}



{% block content %}
     <!-- Herosssss -->
    <div class="px-3 py-3 mt-3 text-center">
      <h1 class="display-5 fw-bold">Word Counter</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">To use this Word Count Checker, please copy and paste your content into the box below, and then sit back and watch as Word Count Checker will run a real-time scan.</p>
      </div>
    </div>



    <!-- Grid -->
      <div class="row text-center">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" >


          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Manually Enter</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">File Upload</button>
              <!-- <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button> -->
            </div>
          </nav>



          <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <form action='/Word_Count/' id="word" class="input_url1" method="POST">

                {% csrf_token %}
              <textarea rows="3" id="word" name="word" placeholder="Enter Text Here" style="width:100%">{{word}}</textarea>
              <button type="submit" class="btn btn-primary mt-2 btn-center">Count Words</button>
              </form>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <form action='/Word_Count/' id="upload_file"  enctype="multipart/form-data"   method="POST">

                {% csrf_token %}
              <!-- <input type="file" id="myFile" name="filename"  accept="application/pdf,application/msword,
              application/vnd.openxmlformats-officedocument.wordprocessingml.document"> -->
              <input type="file" id="myFile" name="filename" >
              <button type="button" id="docscheck" onclick="Validatefile()" class="btn btn-primary mt-2 btn-center">Upload file</button>
            </form>
            </div>

          </div>



        </div>


        <div class="col-md-3">
        </div>

      </div>



<!-- Word Description -->
<div class="container">
<div class="row mt-5 ">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 alert alert-info "role="alert">
    You entered the total {{Total_word}} word and total {{word_length}} character
  </div>
  <div class="col-md-2">

  </div>
  </div>
</div>


<!-- Heading -->
    <div class="row mt-4">
      <h5>BASIC WORDS COUNT STATISTICS</h5>
    </div>

      <div class="row mt-3 content">
        <div class="col-md-3">



          <nav>
            <div class="nav nav-tabs left-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#STATISTICS" role="tab" aria-controls="nav-home" aria-selected="true">WORDS STATISTICS</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#READING" role="tab" aria-controls="nav-profile" aria-selected="false">READING TIME</a>
              <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a> -->
            </div>
          </nav>

        </div>


        <div class="col-md-6 STATISTICS " id="STATISTICS">


                <table class="table border">


                  <tbody>
                      <tr>
                        <th><label for="">Total_word</label></th>

                            <td> {{Total_word}}</td>
                        </tr>

                        <th><label for="">Total Characters (With Space) </label></th>

                        <td>{{word_length}}</td>
                        </tr>

                        <th><label for="">Total Characters (Without Space)</label></th>

                        <td> {{withoutt_spc}}</td>
                        </tr>


                        <th><label for="">Longest Word is </label></th>

                        <td> {{longest}}</td>
                        </tr>

                        <th><label for="">Repeated Elements are</label></th>

                        <td> {{Rep_item}}</td>
                        </tr>

                  </tbody>
                </table>


                <div class=" read_time " id="READING">
                  <h5>READING TIME</h5>


                <table class="table border">


                  <tbody>
                      <tr>
                        <th><label for="">Estimated Reading Time </label></th>

                            <td> {{Reading_Time}}</td>
                        </tr>

                        <th><label for="">Estimated Speaking Time </label></th>

                        <td>{{SpeakTime}}</td>
                        </tr>
<!--
                        <th><label for="">Total Characters (Without Space)</label></th>

                        <td> {{withoutt_spc}}</td>
                        </tr> -->

                  </tbody>
                </table>

                <!-- <hr>
                <p>Estimated Reading Time  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp {{Total_word}}</p>
                <hr>
                <p>Estimated Speaking Time (With Space)   &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp {{word_length}}</p>
                <hr> -->
              </div>


        </div>

        <div class="col-md-3">
          <div class="alert alert-success" role="alert">
            {{word_length}} &nbsp Characters
          </div>
          <div class="alert alert-primary" role="alert">
            {{Total_word}} &nbsp Words
          </div>
          <div class="alert alert-danger" role="alert">
            {{Reading_Time}} &nbsp Reading Time
          </div>
          <div class="alert alert-success" role="alert">
            {{len_sen}} &nbsp Sentences
          </div>
          <div class="alert alert-danger" role="alert">
            {{syllable}} &nbsp Syllable
          </div>
        </div>
    </div>


  <script>
    var myfile="";
      function Validatefile(){
        let inp = document.getElementById('myFile');
        if((inp.files).length === 0){
          alert("Upload file")
        }else{
          let file = inp.files[0].name;
          let ext = file.split(".")
          ext = ext[(ext.length)-1]
          if (ext === "pdf" ||ext === "doc" ||ext === "docx"){
            document.getElementById('upload_file').submit()
          }else{
            alert("Please Upload PDF or Doc File ")
          }
        }

        // document.getElementById('upload_file').submit()


    }

  </script>
{% endblock %}