{% extends 'base.html' %}


{% block title %} Meta Data Checker | {% endblock %}

{% block style %}
    <style>
    input#url
    {
        height: 40px;
    width: 90%;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    }
    input::placeholder {
    font-size: 20px;
    margin-left: 10px;
    padding: 10px;
    }
    .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    float: right;
    position: relative;
    }
    .content h1
    {
        text-align: center;
    }
    /* .content
    {
        background-color: bisque;
    } */
    .content p
    {
        text-align: center;
    }
    .tab-content {
    padding: 0;
}
    @media (max-width: 600px) {
      input#url
    {
        height: 40px;
    width: 72% !important;
      }

    }
    svg{
  background-color: transparent !important;
}

    .alert-warning
    {
      color:#ffc107;
    }
    .alert-success
    {
      color: green;
    }
    .alert-danger
    {
      color: #dc3545;
    }

    td.alert-icon {
    border-top: none;
    float: revert;
    padding: 2px;
    border-bottom: none;
}
a {
    color: var(--bs-link-color);
    text-decoration: underline;
    padding-left: 16px;
}

    </style>
{% endblock %}


{% block content %}
<!-- Heading -->

    <div class="row  mt-4">
      <div class="col-md-2 ">

      </div>
      <div class="col-md-8 content ">
          <h1>Webiste Meta Data </h1>
          <p>If you want to check the SEO score for your site or your competitor’s. Enter the domain name or URL into the given field and click “Check SEO Score”.You will get the results in no time!</p>
      </div>
      <div class="col-md-2">

      </div>
    </div>



  <!-- Form  -->

        <div class="row mt-4">
          <div class="col-md-2">

          </div>
          <div class="col-md-8">
            <div class="row">

              <div class="col-md-11">
                <form action='/Meta/' id="update" class="input_url1"  onsubmit="add_loader()" method="POST" >

                  {% csrf_token %}

                  <input type="text" class="form-control" id="url" name="url" value="{{url}}" placeholder="Enter Url" required>

              </div>
              <div class="col-md-1">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              </div>

            </div>

          </div>

          <div class="col-md-2">


          </div>
        </div>




      <!-- Data -->

        <div class="row mt-5">
            <div class="col-md-3">
                <nav>
                  <div class="nav nav-tabs left-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Meta Data</a>
                    <a class="nav-item nav-link"ta-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Meta Viewport</a>
                    <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">--</a> -->
                  </div>
                </nav>


            </div>
            <div class="col-md-6">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"> <table class="table ">


                  <tbody>
                      <tr>
                          <th><label for="">Meta Title</label><br></th>


                               <td>{{context.meta_title.data}}</td>

                                    <td class="alert-icon" > {% if context.meta_title.alert == "warning" %}
                                      <a href="#"onclick="showModal('Meta Title', '{{context.meta_title.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning modal-title "width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                                      </a>
                                      {% elif context.meta_title.alert == "success"%}
                                      <a href="#" onclick="showModal('Meta Title', '{{context.meta_title.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                                      </a>
                                      {% elif context.meta_title.alert == "danger"%}

                                      <a href="#" onclick="showModal('Meta Title', '{{context.meta_title.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                                      </a>
                                      {% endif %}</td>

                          </tr>

                          <tr>
                          <th><label for="">Meta Description</label><br></th>
                          <td>{{context.desc.data}}</td>

                              <td class="alert-icon" > {% if context.desc.alert == "warning" %}
                                <a href="#"onclick="showModal('Meta Description', '{{context.desc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning modal-title "width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                                </a>
                                {% elif context.desc.alert == "success"%}
                                <a href="#" onclick="showModal('Meta Description', '{{context.desc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                                </a>
                                {% elif context.desc.alert == "danger"%}

                                <a href="#" onclick="showModal('Meta Description', '{{context.desc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                                </a>
                                {% endif %}</td>

                          </tr>

                          <tr>
                          <th><label for="">Meta Keyword</label><br></th>
                          <td>{{context.keyword.data}}</td>

                              <td class="alert-icon" > {% if context.keyword.alert == "warning" %}
                                <a href="#"onclick="showModal('Meta Keyword', '{{context.keyword.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning modal-title "width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                                </a>
                                {% elif context.keyword.alert == "success"%}
                                <a href="#" onclick="showModal('Meta Keyword', '{{context.keyword.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                                </a>
                                {% elif context.keyword.alert == "danger"%}

                                <a href="#" onclick="showModal('Meta Keyword', '{{context.keyword.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                                </a>
                                {% endif %}</td>

                          </tr>

                          <tr>
                            <th><label for="">Total Urls</label><br></th>
                            <td>{{context.meta_anc.alert_msg}}</td>

                                <td class="alert-icon" > {% if context.meta_anc.alert == "warning" %}
                                  <a href="#"onclick="showModal('Urls', '{{context.meta_anc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning modal-title "width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                                  </a>
                                  {% elif context.meta_anc.alert == "success"%}
                                  <a href="#" onclick="showModal('Urls', '{{context.meta_anc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                                  </a>
                                  {% elif context.meta_anc.alert == "danger"%}

                                  <a href="#" onclick="showModal('Urls', '{{context.meta_anc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                                  </a>
                                  {% endif %}</td>

                            </tr>



                        <a  id="nav-profile"></a>


                          <tr>
                          <th><label for="">Meta Viewport</label><br></th>
                          <td>{{context.view_port.data}}</td>

                                <td class="alert-icon" >

                                  {% if context.view_port.alert == "success"%}
                                  <a href="#" onclick="showModal('Meta Viewport', '{{context.view_port.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                                  </a>
                                  {% elif context.view_port.alert == "warning" %}

                                  <a href="#" onclick="showModal('Meta Viewport', '{{context.view_port.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                                  </a>
                                  {% endif %}</td>


                          </tr>

                          <tr>
                          <th><label for="">Meta Robots</label><br></th>
                          <td>{{context.meta_robot.alert_msg}}</td>

                                  <td class="alert-icon" >{% if context.meta_robot.alert == "success"%}
                                  <a href="#" onclick="showModal('Robot File', '{{context.meta_robot.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                                  </a>
                                  {% elif context.meta_robot.alert == "danger"%}

                                  <a href="#" onclick="showModal('Robot File', '{{context.meta_robot.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                                  </a>
                          {% endif %}</td>

                          </tr>

                          <tr>
                          <th><label for="">Open Graph</label><br></th>
                          <td>{{context.meta_graph.alert_msg}}</td>


                                  <td class="alert-icon" >{% if context.meta_graph.alert == "success"%}
                                    <a href="#" onclick="showModal('Open Graph', '{{context.meta_graph.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                                    </a>
                                    {% elif context.meta_graph.alert == "danger"%}

                                    <a href="#" onclick="showModal('Open Graph', '{{context.meta_graph.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                                    </a>
                            {% endif %}</td>

                          </tr>


                  </tbody>
                </table>
              </div>
                <!-- <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div> -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
              </div>

            </div>
            <div class="col-md-3">

            </div>
      </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="Model_Title"></h5>
                    <button type="button" onclick="hideModal()" class="close" >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="model_data"  >

                  </div>

                </div>
              </div>
    </div>




<script>

  function showModal(heading, data)
  {

    document.getElementById('Model_Title').innerHTML = heading;
    document.getElementById('model_data').innerHTML = data;

    $('#exampleModalCenter').modal('show');
  }
  function hideModal()
  {

    $('#exampleModalCenter').modal('hide');

  }
  function show_mess()
{
  $('#show_messg').modal(context.alert_msg);
}
</script>


{% endblock %}