{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
      .input_url1
    {
        /* text-align: c; */
        margin-top: 50px;
        border-radius: 30%;
    }
    input#url
    {
        height: 40px;
    width: 420px;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    }
    input::placeholder {
    font-size: 20px;
    margin-left: 10px;
    padding: 10px;
    }
    .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    float: right;
    position: relative;
  
}
  .code h1{
    text-align: center;
  }
  .code p{
    text-align: center;
  }

.qrcode img{
  margin-left: 200px;
}
</style>

  
  <!--  -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8 code">
        <h1>QR Code Generator</h1>
        <p>It is a niche tool that is used to generate different types of QR Codes. Depending on your purpose, you can use our generator to create QR Codes to open a website, view a PDF file, listen to music, watch Youtube videos, store image files, connect to a WiFi network, and much more.</p>
      </div>
      <div class="col-md-2">
        
      </div>
    </div>
  </div>



    <!-- Input Form -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
          <form action='/QRCode/' id="update" class="input_url1" method="POST">
              
            {% csrf_token %}
                  <!-- <input type="text" name="url" id=url placeholder="enter url and word" style="margin-right:10px ;"><br><br>
          
                  <button type="submit" class="btn btn-primary">Submit</button>           -->
                  <input type="text" class="form-control" id="url" name="url" placeholder="Enter Url and Word">
                  <!-- <input type="text" name="url" id=url placeholder="enter url" style="margin-right:10px ;"><br><br> -->
                  <button class="btn btn-outline-success" type="submit">Generate QR</button>
                     
          </form>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>

  <!-- Body -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8 qrcode">
          <img src="{% static 'myqr.png' %}" alt="qr code"> 
      </div>
      <div class="col-md-2">
        
      </div>
    </div>
  </div>

{% endblock %}