{% extends 'base.html' %}
{% load static %}

{% block title %} QR Code Generator | {% endblock %}

{% block style %}
<style>



  .code h1{
    text-align: center;
  }
  .code p{
    text-align: center;
  }

.qrcode img{
  margin-left: 200px;
}

</style>
{% endblock %}

{% block content %}

  <!--  -->
  <div class="mt-4">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8 code">
        <h1>QR Code Generator</h1>
        <p>It is a niche tool that is used to generate different types of QR Codes. Depending on your purpose, you can use our generator to create QR Codes to open a website, view a PDF file, listen to music, watch Youtube videos, store image files, connect to a WiFi network, and much more.</p>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>



  <!-- Input Form -->
  <div class="mt-4">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="row ">
          <div class="col-md-10">
            <form action='/QRCode/' id="update" class="input_url1" method="POST">

            {% csrf_token %}

            <input type="text" class="form-control" id="url" name="url"  placeholder="Enter Url and Word">
          </div>
          <div class="col-md-2">
            <button class="btn btn-outline-success" type="submit">Generate QR</button>

          </div>
          </form>
        </div>
    </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>


{% if url%}
  <!-- Body -->
  <div class="mt-4">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8 qrcode">
          <img src="{% static 'myqr.png' %}" alt="qr code">
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
{% endif %}

  <script>
    console.log(url)
  </script>
{% endblock %}