
{% extends 'base.html' %}
{% load static %}

{% block title %} SEO Score Checker | {% endblock %}


{% block head%}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
    var chart_data = [
    ['Task', 'Hours per Day'],
    ['Date', 1],
    ['Error', 1],
    ['Warning',1],
    ]
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});


    // Draw the chart and set the chart values
    function drawChart(cha_data= chart_data) {

    var data = google.visualization.arrayToDataTable(cha_data);

    // Optional; add a title and set the width and height of the chart
    var options = {'title':'SEO Score Checker', 'width':300, 'height':300};

    // Display the chart inside the <div> element with id="piechart"
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
    }
    </script>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
{% endblock %}

{% block style %}
<style>


table.table tbody td {

    padding-top: 10px !important;
}

      .foot_back
      {
        background-color: rgba(0, 0, 0, 0.918);
      }
      .my-4 {
        margin-bottom: 0 !important;
      }


      .bg-light {
        background-color: paleturquoise;
    }


    .content h1
    {
        text-align: center;
    }

    .content p
    {
        text-align: center;
    }
    table.table tbody td {
    padding:0;
    }

 svg{
  background-color: transparent !important;
}

    .nav-link
    {
      color: black;
    }
    .boddy
    {
      min-height: 1000px;
    }
    .alert-warning
    {
      color:#ffc107;
    }
    .alert-success
    {
      color: green;
    }
    .alert-danger
    {
      color: #dc3545;
    }
    button.btn.btn-success {
    float: none !important;
}
h5#exampleModalCenterTitle {
    padding: 10px;
}
.tab-content {
 padding: 0px;
}
.left-tabs.nav-tabs {
    border-right: none;
    border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #dee2e6;
}
.nav-link
{
         color: black;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    padding: 10px;
    text-align: center;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
td.alert-icon {
    border-top: none;
    float: revert;
    padding: 2px;
  
}
a {
    color: var(--bs-link-color);
    text-decoration: underline;
    padding-left: 16px;
}
.scr_image img
{
  margin-top: 20px;
}
</style>
{% endblock %}
<!--  -->
{% block content %}


<!-- Page Preloder -->

 <!-- All Data -->

  <div class="row my-4" >
    <div class="col-md-2 ">

    </div>
    <div class="col-md-8 content " >
        <h1>WEBSITE SEO SCORE CHECKER</h1>
        <p>If you want to check the SEO score for your site or your competitor s. Enter the domain name or URL into the given field and click “Check SEO Score”.You will get the results in no time!</p>
    </div>
    <div class="col-md-2">

    </div>
  </div>




<!-- Input Form -->

    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">

            <div class="row mt-4">

              <div class="col-md-11">
                <form action='/score_checker/' id="score_checker_form" onsubmit="add_loader()"  method="POST" >

                {% csrf_token %}
                <input type="text" class="form-control" id="url" name="url" value="{{url}}" placeholder="Enter Url" required />
              </div>
              <div class="col-md-1">
                <button class="btn btn-outline-success" type="submit" id="submit">Search</button>
              </div>
            </form>
            </div>




      </div>
      <div class="col-md-2">

      </div>
    </div>



    <!-- Chart or Content -->

    <div class="row mt-5" >
          <div class="col-md-3">
            <nav>
              <div class="nav nav-tabs left-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Comman SEO Issue</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Speed Optimization</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Server And Security</button>
                <button class="nav-link" id="nav-mobile-tab" data-bs-toggle="tab" data-bs-target="#nav-mobile" type="button" role="tab" aria-controls="nav-mobile" aria-selected="false">Mobile Usability</button>
                <button class="nav-link" id="nav-advance-tab" data-bs-toggle="tab" data-bs-target="#nav-advance" type="button" role="tab" aria-controls="nav-advance" aria-selected="false">Advance SEO</button>

              </div>
            </nav>

          </div>


        <div class="col-md-6">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

              <table class="table"style="border-top:none;">


                <tbody>
                      <tr>
                        <th><label for="">Meta Title</label></th>
                            <td> {{context.meta_title.data}}</td>
                            <td class="alert-icon">

                            {% if context.meta_title.alert == "warning" %}
                            <a href="#"onclick="showModal('Meta Title', '{{context.meta_title.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning modal-title "width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                            </a>
                            {% elif context.meta_title.alert == "success"%}
                            <a href="#" onclick="showModal('Meta Title', '{{context.meta_title.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                            </a>
                            {% elif context.meta_title.alert == "danger"%}

                            <a href="#" onclick="showModal('Meta Title', '{{context.meta_title.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                            </a>
                            {% endif %}
                            </td>
                          </tr>


                        <tr>
                        <th><label for="">Meta Keyword</label></th>
                        <td>{{context.meta_key.data}}</td>

                          <td class="alert-icon">
                            {% if context.meta_key.alert == "warning" %}
                            <a href="#" onclick="showModal('Meta Keyword', '{{context.meta_key.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"></svg>
                              </a>
                            {% elif context.meta_key.alert == "success" %}
                            <a href="#"onclick="showModal('Meta Keyword', '{{context.meta_key.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            </a>
                            {% elif context.meta_key.alert == "danger"  %}
                            <a href="#" onclick="showModal('Meta Keyword', '{{context.meta_key.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            </a>
                            {% endif %}
                          </td>
                        </tr>

                        <tr>
                        <th><label for="">Meta Description</label></th>

                        <td> {{context.meta_desc.data}} </td>
                          <td class="alert-icon">
                            {% if context.meta_desc.alert == "warning" %}
                            <a href="#" onclick="showModal('Meta Description ', '{{context.meta_desc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            </a>
                            {% elif context.meta_desc.alert == "success" %}
                            <a href="#" onclick="showModal('Meta Description', '{{context.meta_desc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            </a>
                            {% elif context.meta_desc.alert == "danger"  %}
                            <a href="#" onclick="showModal('Meta Description', '{{context.meta_desc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" data-toggle="tooltip" data-placement="top" title="Tooltip on top"/></svg>
                            </a>
                              {% endif %}
                          </td>
                        </tr>

                        <tr>


                        <th><label for="">H1</label></th>

                        <td>  {% for text in context.meta_h1.data %}
                          {{text}}

                          {% endfor  %}</td>
                        <td class="alert-icon">
                          <!-- {{context.meta_h1.data}} -->
                          {% if context.meta_h1.alert == "warning" %}
                          <a href="#" onclick="showModal('H1', '{{context.meta_h1.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          </a>
                          {% elif context.meta_h1.alert == "success" %}
                          <a href="#" onclick="showModal('H1', '{{context.meta_h1.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                          </a>
                          {% elif context.meta_h1.alert == "danger"  %}
                          <a href="#" onclick="showModal('H1', '{{context.meta_h1.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          </a>
                          {% endif %}
                        </td>
                        </tr>

                        <tr>
                            <th><label for="">H2</label></th>

                            <td>{% for text in context.meta_h2.data %}
                              {{text}} <br>
                              {% endfor  %}</td>

                            <td class="alert-icon">
                                  <!-- {{context.meta_h2.data}} -->
                              {% if context.meta_h2.alert == "warning" %}
                              <a href="#" onclick="showModal('H2', '{{context.meta_h2.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              </a>
                              {% elif context.meta_h2.alert == "success" %}
                              <a href="#" onclick="showModal('H2', '{{context.meta_h2.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                              </a>
                              {% elif context.meta_h2.alert == "danger"  %}
                              <a href="#" onclick="showModal('H2', '{{context.meta_h2.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              </a>
                              {% endif %}

                            </td>
                        </tr>



                        <tr>
                            <th><label for="">H3</label></th>

                            <td> {% for text in context.meta_h3.data %}
                              {{text}} <br>
                              {% endfor  %}</td>
                            <td class="alert-icon">
                              <!-- {{context.meta_h3_msg} -->
                              {% if context.meta_h3.alert == "warning" %}
                              <a href="#"  onclick="showModal('H3', '{{context.meta_h3.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              </a>
                              {% elif context.meta_h3.alert == "success" %}
                              <a href="#"  onclick="showModal('H3', '{{context.meta_h3.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                              </a>
                              {% elif context.meta_h3.alert == "danger"  %}
                              <a href="#" onclick="showModal('H3', '{{context.meta_h3.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              </a>
                              {% endif %}

                            </td>
                        </tr>



                        <tr>
                            <th><label for="">Image Tag</label></th>
                            <td> {{context.img_msg}}</td>
                              <td  class="alert-icon">
                                  {% if context.imag.alert == "warning" %}
                                <a href="#"  onclick="showModal('Image Tag', '{{context.imag.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                </a>
                                {% elif context.imag.alert == "success" %}
                                <a href="#"  onclick="showModal('Image Tag', '{{context.imag.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                </a>
                                {% elif context.imag.alert == "danger"  %}
                                <a href="#"  onclick="showModal('Image Tag', '{{context.imag.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                </a>
                                {% endif %}
                            </td>

                        </tr>




                        <tr>
                            <th><label for="">Inline CSS Test</label></th>
                            <td>{{context.style_msg}}</td>
                            <td  class="alert-icon">
                              {% if context.meta_style.alert == "warning" %}
                                <a href="#"  onclick="showModal('Inline CSS Check', '{{context.meta_style.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                </a>
                                {% elif context.meta_style.alert == "success" %}
                                <a href="#"  onclick="showModal('Inline CSS Check', '{{context.meta_style.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                </a>
                                {% elif context.meta_style.alert == "danger"  %}
                                <a href="#"  onclick="showModal('Inline CSS Check', '{{context.meta_style.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                </a>
                                {% endif %}

                            </td>
                        </tr>

                        <tr>
                          <th><label for="">Favicon Icon</label></th>
                          <td>{{context.meta_favicon_msg}} </td>
                          <td  class="alert-icon">
                            {% if context.favcon_tag.alert == "warning" %}
                            <a href="#" onclick="showModal('Anchor Tag', '{{context.favcon_tag.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            </a>
                              {% elif context.favcon_tag.alert == "success" %}
                            <a href="#" onclick="showModal('Anchor Tag', '{{context.favcon_tag.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            </a>
                              {% elif context.favcon_tag.alert == "danger" %}
                            <a href="#" onclick="showModal('Anchor Tag', '{{context.favcon_tag.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            </a>
                              {% endif %}

                          </td>
                      </tr>



                        <tr>
                            <th><label for="">Viewport </label></th>
                            <td>{{context.meta_view_msg}} </td>
                            <td  class="alert-icon">
                              {% if context.meta_anc.alert == "warning" %}
                              <a href="#" onclick="showModal('Viewport', '{{context.meta_view.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              </a>
                                {% elif context.meta_anc.alert == "success" %}
                              <a href="#" onclick="showModal('Viewport', '{{context.meta_view.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                              </a>
                                {% elif context.meta_anc.alert == "danger" %}
                              <a href="#" onclick="showModal('Viewport', '{{context.meta_view.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              </a>
                                {% endif %}

                            </td>
                        </tr>



                        <tr>
                          <th><label for="">Anchar Tag</label></th>
                          <td>{{context.anc_msg}} </td>
                          <td  class="alert-icon">
                            {% if context.meta_anc.alert == "warning" %}
                            <a href="#" onclick="showModal('Anchor Tag', '{{context.meta_anc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            </a>
                              {% elif context.meta_anc.alert == "success" %}
                            <a href="#" onclick="showModal('Anchor Tag', '{{context.meta_anc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            </a>
                              {% elif context.meta_anc.alert == "danger" %}
                            <a href="#" onclick="showModal('Anchor Tag', '{{context.meta_anc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            </a>
                              {% endif %}

                          </td>
                      </tr>


                      <tr>
                        <th><label for="">SEO Friendly URL</label></th>
                        <td>{{context.under_msg}}</td>
                        <td  class="alert-icon">
                          {% if context.under_meta.alert == "success" %}
                         <a href="#" onclick="showModal('SEO Friendly URL', '{{context.under_meta.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                          </a>
                          {% elif context.under_meta.alert == "danger"  %}
                          <a href="#" onclick="showModal('SEO Friendly URL', '{{context.under_meta.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          </a>
                            {% endif %}

                        </td>
                    </tr>


                        <tr>
                            <th><label for="">Robot.txt</label></th>
                            <td>{{context.rob_mess}}</td>
                            <td  class="alert-icon">
                              {% if context.meta_robot.alert == "success" %}
                             <a href="#" onclick="showModal('Robot.Txt', '{{context.meta_robot.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                              </a>
                              {% elif context.meta_robot.alert == "danger"  %}
                              <a href="#" onclick="showModal('Robot.Txt', '{{context.meta_robot.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              </a>
                                {% endif %}

                            </td>
                        </tr>



                        <tr>
                            <th><label for="">Sitemap.Xml</label></th>
                            <td>{{context.site_mess}}</td>
                            <td  class="alert-icon">
                              {% if context.meta_site.alert == "success" %}
                              <a href="#" onclick="showModal('Sitemap.Xml', '{{context.meta_site.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                              </a>
                                {% elif context.meta_site.alert == "danger"  %}
                              <a href="#" onclick="showModal('Sitemap.Xml', '{{context.meta_site.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              </a>
                                {% endif %}

                            </td>
                        </tr>




                </tbody>
              </table>
            </div>


            <!--Speed Optimization  -->
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <table class="table">
                  <tbody>


                    <tr>
                      <th><label for="">Page Size</label></th>

                        <td id="page_size"> </td>
                        <td  class="alert-icon" >
                          {% if context.meta_doc.alert == "warning" %}
                          <a href="#" onclick="showModal()"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          </a>
                            {% elif context.meta_doc.alert == "success" %}
                          <a href="#" onclick="showModal()"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                          </a>
                            {% elif context.meta_doc.alert == "danger"  %}
                          <a href="#" onclick="showModal()"><svg class="bi flex-shrink-0 me-2 alert-danger"  data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          </a>
                            {% endif %}</td>
                      </tr>


                    <tr>
                      <th><label for="">HTTP2 Check</label></th>

                        <td id="check_http2"></td>
                          <td   class="alert-icon" id="HTTP2_alert"></td>

                    </tr>


                    <tr>
                        <th><label for="">Iframe Tag</label></th>

                            <td> {{context.meta_iframe.alert_msg}}</td>
                          <td  class="alert-icon" >
                            {% if context.meta_iframe.alert == "warning" %}
                            <a href="#" onclick="showModal('Iframe tag', '{{context.meta_iframe.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            </a>
                              {% elif context.meta_iframe.alert == "success" %}
                            <a href="#" onclick="showModal('Iframe tag', '{{context.meta_iframe.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            </a>
                              {% elif context.meta_iframe.alert == "danger"  %}
                            <a href="#" onclick="showModal('Iframe tag', '{{context.meta_iframe.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger"  data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            </a>
                              {% endif %}</td>
                        </tr>

                        <tr>
                          <th><label for="">Doctype </label></th>

                              <td> {{context.meta_doc.alert_msg}} </td>
                            <td  class="alert-icon" >      {% if context.meta_doc.alert == "warning" %}
                              <a href="#" onclick="showModal('Doctype Check', '{{context.meta_doc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              </a>
                                {% elif context.meta_doc.alert == "success" %}
                              <a href="#" onclick="showModal('Doctype Check', '{{context.meta_doc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                              </a>
                                {% elif context.meta_doc.alert == "danger"  %}
                              <a href="#" onclick="showModal('Doctype Check', '{{context.meta_doc.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger"  data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              </a>
                                {% endif %}</td>
                          </tr>


                          <tr>
                            <th><label for="">WWW Redirection</label></th>
                            <td>{{context.meta_url_msg}}</td>
                            <td  class="alert-icon">
                              {% if context.url_meta.alert == "success" %}
                              <a href="#" onclick="showModal('WWW Redirection', '{{context.url_meta.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                              </a>
                                {% elif context.url_meta.alert == "danger"  %}
                              <a href="#" onclick="showModal('WWW Redirection', '{{context.url_meta.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              </a>
                                {% endif %}

                            </td>
                        </tr>



                          <tr>
                            <th><label for="">CSS Minification </label></th>

                                <td> {{context.minify.alert_msg}}</td>
                              <td  class="alert-icon" >      {% if context.minify.alert == "warning" %}
                                <a href="#" onclick="showModal('CSS Minification', '{{context.minify.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                </a>
                                  {% elif context.minify.alert == "success" %}
                                <a href="#" onclick="showModal('CSS Minification', '{{context.minify.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                </a>
                                  {% elif context.minify.alert == "danger"  %}
                                <a href="#" onclick="showModal('CSS Minification', '{{context.minify.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger"  data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                </a>
                                  {% endif %}</td>
                            </tr>



                          <tr>
                            <th><label for="">Lazy Load </label></th>

                                <td> {{context.loader.alert_msg}}</td>
                              <td  class="alert-icon" >      {% if context.loader.alert == "warning" %}
                                <a href="#" onclick="showModal('Lazy Load ', '{{context.loader.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                </a>
                                  {% elif context.loader.alert == "success" %}
                                <a href="#" onclick="showModal('Lazy Load ', '{{context.loader.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                </a>
                                  {% elif context.loader.alert == "danger"  %}
                                <a href="#" onclick="showModal('Lazy Load ', '{{context.loader.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger"  data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                </a>
                                  {% endif %}</td>
                            </tr>






                          <tr>
                            <th><label for="">Loading Speed </label></th>

                              <td  class="alert-icon"  id="loading_time"The web page load time .>

                          </tr>





                    </tbody>

                </table>
            </div>


            <!-- Server and Security -->
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <table class="table ">
                <tbody>
                  <tr>
                    <th><label for="">HTTPS Test </label></th>

                        <td>  {{context.meta_host.alert_msg}}  </td>
                      <td  class="alert-icon">
                        {% if context.meta_host.alert == "warning" %}
                        <a href="#" onclick="showModal('HTTPS Test', '{{context.meta_host.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        </a>
                          {% elif context.meta_host.alert == "success" %}
                        <a href="#" onclick="showModal('HTTPS Test', '{{context.meta_host.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                        </a>
                          {% elif context.meta_host.alert == "danger"  %}
                        <a href="#" onclick="showModal('HTTPS Test', '{{context.meta_host.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger"  data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        </a>s
                        {% endif %}</td>
                    </tr>


                    <tr>
                    <th><label for="">Safe Browsing </label></th>

                        <td>  {{context.meta_secure.alert_msg}}  </td>
                      <td  class="alert-icon">      {% if context.meta_secure.alert == "warning" %}
                        <a href="#" onclick="showModal('Safe Browsing', '{{context.meta_secure.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        </a>
                          {% elif context.meta_secure.alert == "success" %}
                        <a href="#" onclick="showModal('Safe Browsing', '{{context.meta_secure.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                        </a>
                          {% elif context.meta_secure.alert == "danger"  %}
                        <a href="#" onclick="showModal('Safe Browsing', '{{context.meta_secure.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger"  data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        </a>
                          {% endif %}</td>
                    </tr>

                    <tr>
                      <th><label for="">Directory Browsing</label></th>

                          <td>  {{context.meta_dir.alert_msg}} </td>
                        <td  class="alert-icon">
                          {% if context.meta_dir.alert == "warning" %}
                          <a href="#" onclick="showModal('Directory Browsing', '{{context.meta_dir.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          </a>
                            {% elif context.meta_dir.alert == "success" %}
                          <a href="#" onclick="showModal('Directory Browsing', '{{context.meta_dir.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                          </a>
                            {% elif context.meta_dir.alert == "danger"  %}
                          <a href="#" onclick="showModal('Directory Browsing', '{{context.meta_dir.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger"  data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          </a>
                            {% endif %}</td>
                      </tr>

                </tbody>
              </table>
            </div>


            <!-- Mobile Usability -->
            <div class="tab-pane fade" id="nav-mobile" role="tabpanel" aria-labelledby="nav-mobile-tab">
              <table class="table ">
                <tbody>

                  <tr>
                    <th><label for="">Meta Viewport</label><br></th>
                    <td>{{context.view_port.data}}</td>

                          <td  class="alert-icon" > {% if context.view_port.alert == "success"%}
                            <a href="#" onclick="showModal('Meta Viewport', '{{context.view_port.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                            </a>
                            {% elif context.view_port.alert == "warning" %}

                            <a href="#" onclick="showModal('Meta Viewport', '{{context.view_port.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                            </a>
                            {% endif %}</td>


                    </tr>


                    <tr>
                      <th><label for="">Responsive Page </label></th>

                        <td id="media"></td>
                        <td   class="alert-icon" id="media_response"></td>

                    </tr>


                    <tr>
                      <th><label for="">Home Page</label></th>
                          {% if url %}
                        <td class="scr_image">
                           <img src="{% static 'screenshot.png' %}" alt="home page">

                          </td>
                          {% endif %}

                    </tr>


                </tbody>
              </table>
            </div>

            <!-- Advance SEO -->
            <div class="tab-pane fade" id="nav-advance" role="tabpanel" aria-labelledby="nav-advance-tab">
              <table class="table ">
                <tbody>

                  <tr>
                    <th><label for="">Structured Data</label><br></th>
                    <td>{{context.meta_struct_msg}}</td>

                          <td  class="alert-icon" > {% if context.struct_data.alert == "success"%}
                            <a href="#" onclick="showModal('Structured Data', '{{context.struct_data.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                            </a>
                            {% elif context.struct_data.alert == "warning" %}
                            <a href="#" onclick="showModal('Structured Data', '{{context.struct_data.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                            </a>
                            {% endif %}</td>

                    </tr>

                    <tr>
                      <th><label for="">No-Index Tag</label><br></th>
                      <td>{{context.meta_index_msg}}</td>

                      <td  class="alert-icon" > {% if context.no_index.alert == "success"%}
                        <a href="#" onclick="showModal('Structured Data', '{{context.no_index.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                        </a>
                        {% elif context.no_index.alert == "warning" %}
                        <a href="#" onclick="showModal('Structured Data', '{{context.no_index.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                        </a>
                        {% endif %}</td>
  
                      </tr>


                      
                    <tr>
                      <th><label for="">NoFollow Tag</label><br></th>
                      <td>{{context.meta_struct_msg}}</td>

                            <td  class="alert-icon" > {% if context.struct_data.alert == "success"%}
                              <a href="#" onclick="showModal('Structured Data', '{{context.struct_data.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                              </a>
                              {% elif context.struct_data.alert == "warning" %}
                              <a href="#" onclick="showModal('Structured Data', '{{context.struct_data.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                              </a>
                              {% endif %}</td>

                      </tr>


                      <tr>
                        <th><label for="">Disallow Directive</label><br></th>
                        <td>{{context.meta_disallow_msg}}</td>
                        
                        <td  class="alert-icon" > {% if context.disallow.alert == "success"%}
                          <a href="#" onclick="showModal('Disallow Directive', '{{context.disallow.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-success modal-title" width="24" id="example" height="24" role="img" aria-label="Success:" ><use xlink:href="#check-circle-fill" data-toggle="modal" data-target="#exampleModalCenter" id="exampleModalCenterTitle" ></svg>
                          </a>
                          {% elif context.disallow.alert == "warning" %}
                          <a href="#" onclick="showModal('Disallow Directive', '{{context.disallow.alert_msg}}')"><svg class="bi flex-shrink-0 me-2 alert-danger modal-title" data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"data-toggle="modal" data-target="#exampleModalCenter" onclick="showModal()" id="exampleModalCenterTitle" ></svg>
                          </a>
                          {% endif %}</td>
    
                        </tr>
  

                  

                </tbody>
              </table>
            </div>


          </div>
        </div>


          <div  class="col-md-3 percent" id="piechart">

            <script>

              chart_data = [
              ['Task', 'Hours per Day'],
              ['Corrcet',  parseInt('{{value.total_correct}}')],
              ['Error', parseInt('{{value.err}}')],
              ['Warning',parseInt('{{value.warn}}')],
            ]
              google.charts.setOnLoadCallback(drawChart);

            </script>


          </div>




          <p id="GFG_UP" style=
              "font-size: 19px;font-weight: bold;">
          </p>

          <p id="GFG_DOWN" style=
              "color: green; font-size: 24px; font-weight: bold;">
          </p>




            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="Model_Title"></h5>
                    <button type="button" onclick="hideModal()" class="close" >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="model_data"  >

                  </div>

                </div>
              </div>
            </div>



</div>

<script>
//   var loadTime = window.performance.timing.domContentLoadedEventEnd- window.performance.timing.navigationStart;
// console.log(loadTime);
// console.log(window.startTime = (new Date).getTime());
// Check Load Time
var perf = () => {
  var duration = performance.getEntriesByType("navigation")[0].duration;
  if (!duration) setTimeout(perf, 0);
  else console.log({ duration });
  time=duration/1000

  document.getElementById('loading_time').innerHTML ="The web page load time is " + time.toFixed(3)+ " seconds.";


}

window.addEventListener('DOMContentLoaded', perf);

</script>


<script>
  // console.log(window.location.hostname);

  let check_http2=performance.getEntriesByType('navigation')[0].nextHopProtocol
  console.log(check_http2)
  document.getElementById('check_http2').innerHTML ="This Webpage Using " + check_http2 ;
  let verson = check_http2.split("/")[1]
  if(parseInt(verson)<2){
    document.getElementById("HTTP2_alert").innerHTML = `<a href="#" onclick="showModal('HTTP2 Check ', 'This Webpage Is Not Using HTTP/2 Protocol.')")"><svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>`
  }else{
    document.getElementById("HTTP2_alert").innerHTML = `<a href="#" onclick="showModal('Lazy Load ', 'This Webpage Using HTTP/2 Protocol.')")"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>`
  }




</script>

<script>

  function showModal(heading, data)
  {

    document.getElementById('Model_Title').innerHTML = heading;
    document.getElementById('model_data').innerHTML = data;

    $('#exampleModalCenter').modal('show');
  }
  function hideModal()
  {

    $('#exampleModalCenter').modal('hide');

  }
  function show_mess()
{
  $('#show_messg').modal(context.alert_msg);
}
</script>




<script>

 $(document).ready(
     function()     {
      let pagebytes = $('html').html().length;

       var kbytes = pagebytes / 1024;
      //  console.log(kbytes,"----------------daat")
      document.getElementById('page_size').innerHTML ="The web page size is " + kbytes.toFixed(3)+ " kb.";
  }
);


let widthscreen = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);


document.getElementById('media').innerHTML ="Congratulations! Your website uses media query technique, which is base for responsive design.";
document.getElementById("media_response").innerHTML = `<a href="#" onclick="showModal('Lazy Load ', 'This Webpage Using HTTP/2 Protocol.')")"><svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>`



</script>




  {% endblock %}