
{% extends 'base.html' %}
{% load static %}

{% block title %} SEO Score Checker | {% endblock %}


{% block head%}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  
    <script type="text/javascript">
    var chart_data = [
    ['Task', 'Hours per Day'],
    ['Date', 1],
    ['Error', 1],
    ['Warning',1],
    ]
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    
    
    // Draw the chart and set the chart values
    function drawChart(cha_data= chart_data) {
    
    var data = google.visualization.arrayToDataTable(cha_data);
    
    // Optional; add a title and set the width and height of the chart
    var options = {'title':'SEO Score Checker', 'width':300, 'height':300};
    
    // Display the chart inside the <div> element with id="piechart"
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
    }
    </script>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
{% endblock %}

{% block style %}
<style>
table.table tbody td {

    padding-top: 10px !important;
}
  
      .foot_back
      {
        background-color: rgba(0, 0, 0, 0.918);
      }
      .my-4 {
        margin-bottom: 0 !important;
      }
      
    
      .bg-light {
        background-color: paleturquoise;
    }
    .input_url1
    {
        /* text-align: c; */
        margin-top: 50px;
        border-radius: 30%;
    }
    
    input#url
    {
        height: 40px;
    width: 87%;
    border-radius: 8px;
    padding: 10px;
 
    }
    input::placeholder {
    font-size: 20px;
    margin-left: 10px;
    padding: 10px;
    }
    
    .formtag {
    position: relative;
}
    .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    float: right;

    }
    button.btn.btn-outline-success.searchbtn {
    margin: -39px 0px;
}
    .content h1
    {
        text-align: center;
    }
 
    .content p
    {
        text-align: center;
    }
    .Percentage
    {
      position: absolute;
      right: 0px;
    
      margin-top: 350px;
    }

    /* .table.table thead th {
    padding:0;
    } */
    table.table tbody td {
    padding:0;
    }
    

    .percent h4{
      margin-top: 400px;
      position: relative;
    }

/* svg{
  background-color: transparent !important;
} */
    @media (max-width: 600px) {
      input#url
    {
        height: 40px;
    width: 72% !important;
      }

    }

    @media (min-width: 1025px) and (max-width: 1280px) {
    .input_url
    {
      height: 40px;
      width: 84%;
    }
    }
    .nav-link
    {
      color: black;
    }

    /* .list-group a:active {
      background-color: #767F87;
      box-shadow: 0 5px #767F87;
      /* transform: translateY(4px); */
    /* }  */
    .boddy
    {
      min-height: 1000px;
    }
    .alert-warning
    {
      color:#ffc107;
    }
    .alert-success
    {
      color: green;
    }
    .alert-danger
    {
      color: #dc3545;
    }


</style>
{% endblock %}
<!--  -->
{% block content %}

 <!-- All Data -->
 <div class="container boddy">
<div class="container my-4" >
  <div class="row">
    <div class="col-md-2 ">

    </div>
    <div class="col-md-8 content " >
        <h1>WEBSITE SEO SCORE CHECKER</h1>
        <p>If you want to check the SEO score for your site or your competitor’s. Enter the domain name or URL into the given field and click “Check SEO Score”.You will get the results in no time!</p>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>



<!-- Input Form -->
  <div class="container" >
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6 formtag">
       
          <form action='/score_checker/' id="update" class="input_url1" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control" id="url" name="url" placeholder="Enter Url">
                
                  <button class="btn btn-outline-success searchbtn" type="submit">Search</button>
                 
               
          </form>

     
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>

    
    <!-- Chart or Content -->
    <div class="container mt-5"  >
        <div class="row">
          <div class="col-md-3">
    
                   <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active"onclick="showTable('one_word')"  id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Common SEO Issue</button>
                    <button class="nav-link" id="v-pills-profile-tab" onclick="showTable('TWO_word')" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Speed Optimizations</button>
                    <button class="nav-link" id="v-pills-messages-tab"onclick="showTable('Three_word')"   data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Server and Security</button>
                    <!-- <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button> -->
                  </div>

             
    
          </div>

          
          <div class="col-md-7">
            <table class="table border">

      
              <tbody>
                  <tr>
                      <th><label for="">Meta Title</label></th>
                      
                          <td> {{context.meta_title.data}}
                    

                        </td>
                        <td>      {% if context.meta_title.alert == "warning" %}
                          <svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          {% elif context.meta_title.alert == "success" %}
                          <svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                          {% elif context.meta_title.alert == "danger"  %}
                          <svg class="bi flex-shrink-0 me-2 alert-danger"  data-bs-toggle="popover" data-bs-trigger="focus" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          {% endif %}</td>
                      </tr>
              
                      <tr>
                      <th><label for="">Meta Keyword</label></th>
                      <td>{{context.meta_key.data}}
                       
                        </td>

                        <td>      
                          {% if context.meta_key.alert == "warning" %}
                          <svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          {% elif context.meta_key.alert == "success" %}
                          <svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                          {% elif context.meta_key.alert == "danger"  %}
                          <svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          {% endif %}
                        </td>
                      </tr>
              
                      <tr>
                      <th><label for="">Meta Description</label></th>

                      <td> {{context.meta_desc.data}}
                        
                      </td>
                        <td>
                          {% if context.meta_desc.alert == "warning" %}
                          <svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          {% elif context.meta_desc.alert == "success" %}
                          <svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                          {% elif context.meta_desc.alert == "danger"  %}
                          <svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          {% endif %}
                        </td>
                      </tr>
              
                      <tr>

                        
                      <th><label for="">Heading 1</label></th>

                      <td>  {% for text in context.meta_h1.data %}
                        {{text}} <br>
                        
                        {% endfor  %}</td>
                      <td>
                        <!-- {{context.meta_h1.data}} -->
                        {% if context.meta_h1.alert == "warning" %}
                          <svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          {% elif context.meta_h1.alert == "success" %}
                          <svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                          {% elif context.meta_h1.alert == "danger"  %}
                          <svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          {% endif %}
                      </td>  
                      </tr>
    
                      <tr>
                          <th><label for="">Heading 2</label></th>

                          <td>{% for text in context.meta_h2.data %}
                            {{text}} <br>
                            {% endfor  %}</td>

                          <td>
                                <!-- {{context.meta_h2.data}} -->
                                {% if context.meta_h2.alert == "warning" %}
                              <svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              {% elif context.meta_h2.alert == "success" %}
                              <svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                              {% elif context.meta_h2.alert == "danger"  %}
                              <svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              {% endif %}

                            </td>
                      </tr>
    


                      <tr>
                          <th><label for="">Heading 3</label></th>
                          
                          <td> {% for text in context.meta_h3.data %}
                            {{text}} <br>
                            {% endfor  %}</td>
                          <td>
                            <!-- {{context.meta_h3_msg} -->
                            {% if context.meta_h3.alert == "warning" %}
                            <svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            {% elif context.meta_h3.alert == "success" %}
                            <svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            {% elif context.meta_h3.alert == "danger"  %}
                            <svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            {% endif %}
                          
                          </td>
                      </tr>
    


                      <tr>
                          <th><label for="">Images</label></th>
                          <td>
                            <!-- {{context.meta_desc.data}} -->
                                {{context.img_msg}}</td>
                            <td>
                                {% if context.imag.alert == "warning" %}
                              <svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              {% elif context.imag.alert == "success" %}
                              <svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                              {% elif context.imag.alert == "danger"  %}
                              <svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              {% endif %}
                          </td>

                      </tr>
    
    


                      <tr>
                          <th><label for="">Style Tag</label></th>
                          <td>{{context.style_msg}}</td>
                          <td>
                            {% if context.meta_style.alert == "warning" %}
                              <svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              {% elif context.meta_style.alert == "success" %}
                              <svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                              {% elif context.meta_style.alert == "danger"  %}
                              <svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                              {% endif %}

                          </td>
                      </tr>
    


                      <tr>
                          <th><label for="">Anchar Tag</label></th>
                          <td>{{context.anc_msg}} </td>
                          <td>
                            {% if context.meta_anc.alert == "warning" %}
                            <svg class="bi flex-shrink-0 me-2 alert-warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            {% elif context.meta_anc.alert == "success" %}
                            <svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            {% elif context.meta_anc.alert == "danger"  %}
                            <svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            {% endif %}

                          </td>
                      </tr>
    


                      <tr>
                          <th><label for="">Robot.txt</label></th>
                          <td>{{context.rob_mess}}</td>
                          <td>
                            {% if context.meta_robot.alert == "success" %}
                            <svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            {% elif context.meta_robot.alert == "danger"  %}
                            <svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            {% endif %}

                          </td>
                      </tr>
    

                      
                      <tr>
                          <th><label for="">Sitemap.Xml</label></th>
                          <td>{{context.site_mess}}</td>
                          <td>
                            {% if context.meta_site.alert == "success" %}
                            <svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            {% elif context.meta_site.alert == "danger"  %}
                            <svg class="bi flex-shrink-0 me-2 alert-danger" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            {% endif %}

                          </td>
                      </tr>
    
    
    
    
              </tbody>
            </table>
            <!-- <svg class="bi flex-shrink-0 me-2 alert-success" width="24" id="example" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg> -->
          </div>
          <!-- <svg class="bi flex-shrink-0 me-2 warning" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg> -->
          <div id="piechart" class="col-md-2 percent">

            <script>
            
              chart_data = [
              ['Task', 'Hours per Day'],
              ['Corrcet',  parseInt('{{value.total_correct}}')],
              ['Error', parseInt('{{value.err}}')],
              ['Warning',parseInt('{{value.warn}}')],
            ]
              google.charts.setOnLoadCallback(drawChart);

            </script>
              <div class="row">
                <h4>Total Percentage is={{value.per}}</h4>
              </div>
         
         
          </div>
          
           
          <!-- <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Dismissible popover" data-bs-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a> -->

    
        
        </div>
        <!-- <svg  class="bi flex-shrink-0 me-2 alert-success" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg> -->
        <p id="GFG_UP" style=
        "font-size: 19px;font-weight: bold;">
    </p>
      
    <p id="GFG_DOWN" style=
        "color: green; font-size: 24px; font-weight: bold;">
    </p>
    </div>
    <br><br>
  
     
    

   
  </div>


  
<!-- Check Flash -->

      
    <script>
  
        function GFG_Fun() {
            var el_down = document.getElementById("GFG_DOWN");
            var Flash = true;
            try {
                Flash = 
                Boolean(new ActiveXObject('ShockwaveFlash.ShockwaveFlash'));
            } catch (exception) {
                Flash = ('undefined' != typeof navigator.mimeTypes[
                    'application/x-shockwave-flash']);
            }
            el_down.innerHTML = "Not Available";
        }
    </script>

    <script>
      $(document).ready(function() {

      GFG_Fun()
    });
    </script>
<!-- 
    <script>
      $(function(){
        console.log('ready');

        $('.nav-item a').click(function(e) {
            e.preventDefault()

            $that = $(this);

            $that.parent().find('a').removeClass('active');
            $that.addClass('active');
        });
        })
    </script> -->
    

  {% endblock %}