{% extends 'base.html' %}
{% block title %} Score Checker | {% endblock %}

{% block head %} 
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
      var chart_data = [
      ['Task', 'Hours per Day'],
      ['Date', 1],
      ['Error', 1],
      ['Warning',1],
    ]
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    
    
    // Draw the chart and set the chart values
    function drawChart(cha_data= chart_data) {
      
      var data = google.visualization.arrayToDataTable(cha_data);
    
      // Optional; add a title and set the width and height of the chart
      var options = {'title':'SEO Score Checker', 'width':550, 'height':400};
    
      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
    </script>
    {% endblock %}
    {% block style %} 
  
<style>
.bg-light {
    background-color: paleturquoise;
}
  .input_url1
  {
      text-align: center;
      margin-top: 50px;
  }
.circle
{
  float: right;
}
.chart
{
  float: right;
}
.warn {
  /* margin-left: 10px; */
  align-items: 24;
  height: 22px;
  color:rgb(234, 238, 14);
  background-color: #dee05f;
  border-color: #b6d4fe;
}
.warn {
  position: relative;
  font-size: 14px;
  text-align: center;
  text-align: left;
  color: black;
  padding: 0px 28px;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  border-radius: 1.25rem;
}
.err{
  /* margin-left: 10px; */
  align-items: 24;
  height: 22px;
  background-color: #be3636;
  
  border-color: #b6d4fe;
}
.err{
  position: relative;
  font-size: 14px;
  text-align: center;
  color: black;
  text-align: left;
  padding: 0px 28px;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  border-radius: 1.25rem;
}
.text_h1
{
  height: 300px;
  background-color: aliceblue;
  float: left;

}
.text_h1 h5{
  text-align: center;
  margin-top: 20px;
}
.text_h1 p{
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}
.button_con
{
  background-color: rgb(245, 240, 255);
  height: 200px;
}
.headingg
{
  height: 200px;
}
.sucess
{
  height: 60px;
  width: 60px;
  border-radius: 20%;
  margin: 48px 0 0px 42px;
}
.btn_con_back
{
  height: 150px;
}
.btn_con_back p
{
  text-align: center;
  margin-top: 10px;
}
.btn_back
{
  background-color: rgb(215, 250, 217);
  margin: 0px 20px;
}
.errorr
{
  height: 60px;
  width: 60px;
  border-radius: 20%;
  margin: 48px 0 0px 42px;
}
.warningss
{
  height: 60px;
  width: 60px;
  border-radius: 20%;
  margin: 48px 0 0px 42px;
}
.span
{
  padding: 10px;
  margin:10px;
}
  </style>
  {% endblock %}
  {% block content %}
  <div class="container mt-4">
      
    
      {% if context.title_tag %}
      <div class="container ">
        <div class="row">
          <div class="col-md-8 text_h1 ">
              <h5>WEBSITE SEO SCORE CHECKER</h5>
              <p>If you want to check the SEO score for your site or your competitor’s. Enter the domain name or URL into the given field and click “Check SEO Score”.You will get the results in no time!</p>
          </div>
          <div class="col-md-4">
          
          </div>
        </div>
      </div>
    
      <!-- <div class="col-md-8 button_con ">
        <span><button type="button" class="btn btn-success sucess">2<br></button></span>
        <span><button type="button" class="btn btn-danger errorr">3</button></span>
        <span><button type="button" class="btn btn-warning warningss">4</button></span>
      </div> -->


      <div class="container mt-4">
        <div class="row btn_con_back">
          <div class="col-md-2 btn_back border border-primary">
            <span><button type="button" class="btn btn-success sucess">{{value.total_correct}}<br></button></span>
            <p>Sucess</p>
          </div>
          <div class="col-md-2 btn_back border border-primary">
            <span><button type="button" class="btn btn-danger errorr">{{value.err}}</button></span>
            <p>Error</p>
          </div>
          <div class="col-md-2 btn_back border border-primary">
            <span><button type="button" class="btn btn-warning warningss">{{value.warn}}</button></span>
            <p>Warning</p>
          </div>
          <!-- <div class="col-md-2 btn_back">
            <!-- <span><button type="button" class="btn btn-warning warningss">4</button></span> -->
        </div> 
      </div>
      

      <div class="container mt-4">
        <div class="row">
          <div class="col-md-8">
            <b>Warning:</b> <br><br>
                {% for key, val in value.warning.items %}
            
                <div class="alert alert-primary warn" role="alert" >
                  {{key}} - {{val}}
                </div>
                {% endfor %}
              
                <!-- Error -->
                <b>Error:</b> <br><br>
                {% for key, val in value.error.items %}
            
                <div class="alert alert-primary err" role="alert" >
                  {{key}} - {{val}}
                </div>
                {% endfor %}

                
            
          </div>
          <div id="piechart" class="col-md-4 chart">
              <script>
              
                chart_data = [
                ['Task', 'Hours per Day'],
                ['Corrcet',  parseInt('{{value.total_correct}}')],
                ['Error', parseInt('{{value.err}}')],
                ['Warning',parseInt('{{value.warn}}')],
              ]
                google.charts.setOnLoadCallback(drawChart);

              </script>
              <h4>Total Percentage is={{value.per}}</h4>
          </div>
        
        </div>
      </div>
      
    

      <table class="table">

      
          <tbody>
              <tr>
                  <th><label for="">Meta Title</label><br><br></th>
                  
                      <td> {{context.meta_title_msg}}<br>{{context.title_tag}}</td>
                  </tr>
          
                  <tr>
                  <th><label for="">Meta Keyword</label><br><br></th>
                  <td>{{context.meta_keyword_msg}}<br>{{context.keyword}}</td>
                  </tr>
          
                  <tr>
                  <th><label for="">Meta Description</label><br><br></th>
                  <td> {{context.meta_desc_msg}}<br>{{context.desc}}</td>
                  </tr>
          
                  <tr>
                  <th><label for="">Heading 1</label><br><br></th>
                  <td>{{context.meta_h1_msg}}<br>{{context.heading_tags}}
                  <br>
                  {% for text in context.heading1_text %}
                  {{text}} <br>
                  {% endfor  %}</td>
                  </tr>

                  <tr>
                      <th><label for="">Heading 2</label><br><br></th>
                      <td>{{context.meta_h2_msg}}<br>{{context.heading2_tags}}<br>
                          {% for text in context.heading2_text %}
                          {{text}} <br>
                          {% endfor  %}</td></td>
                  </tr>

                  <tr>
                      <th><label for="">Heading 3</label><br><br></th>
                      <td>{{context.meta_h3_msg}}<br>{{context.convert_split1}}<br>
                          {% for text in context.heading3_text %}
                          {{text}} <br>
                          {% endfor  %}</td></td>
                  </tr>

                  <tr>
                      <th><label for="">Images</label><br><br></th>
                      <td>{{context.img_msg}}<br>{{context.images}}</td>
                  </tr>


                  <tr>
                      <th><label for="">Style Tag</label><br><br></th>
                      <td>{{context.style_msg}}<br>{{context.style_tags}}</td>
                  </tr>

                  <tr>
                      <th><label for="">Anchar Tag</label><br><br></th>
                      <td>{{context.anc_msg}}<br>{{context.anc}}</td>
                  </tr>

                  <tr>
                      <th><label for="">Robot.txt</label><br><br></th>
                      <td>{{context.rob_mess}}{{context.rob}}</td>
                  </tr>

                  <tr>
                      <th><label for="">Sitemap.Xml</label><br><br></th>
                      <td>{{context.site_mess}}{{context.site}}</td>
                  </tr>




          </tbody>
        </table>

      {% else %}

      <form action='/score_checker/' id="update" class="input_url1" method="GET">
        <!-- {% csrf_token %} -->
      
          <label for="">Enter Url </label>
              <input type="text" name="url" id=url placeholder="enter url"><br><br>
      
              <button type="submit" class="btn btn-primary">Submit</button>          

      </form>
    

      
      {%  endif %}
    </div>

  {% endblock %}