{% extends 'base.html' %}
{% block content %}
<style>
.input_word{
height: 200px;
width: 800px;
}
.text_main
{
    vertical-align: top;
}
.headingg{
    height: 150px;
    background-color:aliceblue;
}
.headingg h5
{
    padding: 10px;
    text-align: center;
}
.headingg p
{
    text-align: center;
    font-size: 15px;
}
.button_background{
background-color: ;
}
textarea::placeholder {
    font-size: 30px;
    text-align: center;
    padding: 40px;
  }
  .result
  {
    text-align: center;
  }

.word{
    background-color: aqua;
    height: 120px;
    margin: 14px 14px 0 20px;
}
.length
{
    margin: 17px 2px 3px 0px;
    height: 70px;
    width: 70px;
    background-color: dodgerblue;
}
.totl_word
{
    margin: 17px 2px 3px 0px;
    height: 70px;
    width: 70px; 
}
.Read_time
{
    margin: 17px 2px 3px 0px;
    height: 70px;
    width: 70px; 
}
.word_len
{
    margin: 17px 2px 3px 0px;
    height: 70px;
    width: 70px;  
}
</style>

</head>
<body>

    <div class="container mt-4">
       <div class="row">
        <div class="col-md-10 headingg">
            <h5>WORD COUNTER</h5>
            <p>To use this Word Count Checker, please copy and paste your content into the box below, <br>and then sit back and watch as Word Count Checker will run a real-time scan.</p>
        </div>
        <div class="col-md-2">
            
        </div>
       </div>

    </div>
    
      <div class="container mt-4 ">
            <form action='/Word_Count/' id="word" name="word" class="input_url1" method="GET">
                <!-- {% csrf_token %} -->
            
                <!-- <label for="" class="text_main">Enter Word </label> -->
                <textarea rows="8" id="word" name="word" placeholder="Enter Text Here" style="width:800px ;"></textarea><br>
            
                <button type="submit" class="btn btn-primary btn-center">Check</button>          
        
            </form>
      </div>
      


      <div class="container mt-4">
        <div class="row">
            <div class="col-md-10 mt-4  result">
                <h5>Result </h5>
               <div class="container">
                    <div class="row button_back">

                        <div class="col-md-2 word  border border-primary">
                            <span><button type="button" class="length">{{word_length}}<br></button></span>
                        </div>

                        <div class="col-md-2 word  border border-primary">
                            <span><button type="button" class="btn btn-success totl_word">{{Total_word}}<br></button></span>

                        </div>

                        <div class="col-md-2 word  border border-primary">
                            <span><button type="button" class="btn btn-success Read_time"> {{Reading_Time}}<br></button></span>

                        </div>

                        <div class="col-md-2 word  border border-primary">
                            <span><button type="button" class="btn btn-success word_len">{{syllable}}<br></button></span>

                        </div>
                    </div>

               </div>
                
            </div>

            <!-- <div class="col-md-3">
               
            </div> -->
        </div>
      </div>

       <br><br>
       <br><br>
     <br><br>
      <br><br>
      {{not_rep}}<br><br>
      {{is_Heading}}<br><br>

</body>
{% endblock %}