{% extends 'base.html' %}
{% block content %}
<style>
.input_word{
height: 200px;
width: 800px;
}
.text_main
{
    vertical-align: top;
}

</style>

</head>
<body>
    
      <div class="container mt-4 ">
            <form action='/Word_Count/' id="word" name="word" class="input_url1" method="GET">
                <!-- {% csrf_token %} -->
            
                <label for="" class="text_main">Enter Word </label>
                <textarea rows="7" id="word" name="word" style="width:600px ;"></textarea><br>
            
                <button type="submit" class="btn btn-primary btn-center">Check</button>          
        
            </form>
      </div>
      
      <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                {{word_length}} <br><br>
                {{Total_word}} <br><br>
                {{Reading_Time}}<br><br>
                {{Rep_item}}<br><br>
                {{not_rep}}<br><br>
                {{is_Heading}}<br><br>

            </div>

            <div class="col-md-4">
                fjdskf
            </div>
        </div>
      </div>



</body>
{% endblock %}