
{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-5-vertical-tabs@2.0.0/dist/b5vtabs.min.css"
    integrity="sha384-AsoWNxsuu73eGp2MPWHa77155fyqP9rueKOeG4t2d/AD4eyBqL20TClzfbAkrul4"
    crossorigin="anonymous"
    />
{% endblock %}
{% block title %} Word Counter Tool | {% endblock %}

{% block style %}
<style>

    h1{
      text-align:center;
    }
    .para p{
      text-align:center;
    }
      .foot_back
      {
        background-color: rgba(0, 0, 0, 0.918);
      }
      .my-4 {
        margin-bottom: 0 !important;
      }

      /* .STATISTICS
      {

          height: 250px;
      /* } */
      .STATISTICS h5
      {
         margin-top: 20px;
         text-align: center;
      }
      h5 {
          text-align: center;
         }
      /* .STATISTICS p{
          font-size: 15px;
          text-align: center;
      } */
      .read_time
      {

          height: 150px;
      }

      .read_time p
      {
          font-size: 15px;
          text-align: center;
      }
      textarea::placeholder {
        font-size: 30px;
        text-align: center;
        padding: 10px;
      }
      div#v-pills-tab a {
    text-decoration: none;
    color: black;
}
      .read_btn
      {
        font-size: 20px;

      }
      .word_btn{
        font-size: 20px;
      }
     th{
      text-align: left;
     }
     .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    font-size: 15px;
}
     .enterdesc
     {
      background-color: greenyellow;
     }
    button.nav-link.id\= {
    width: 100%;
    color: black;
}

.alert {
    text-align: center;
}
.btnn{
  margin-top: 10px;
}


.tab-content {
  padding: 0;
}

div#nav-tabContent {
    margin-top: 30px;
}
    </style>
{% endblock %}



{% block content %}
     <!-- Herosssss -->
    <!-- <div class="px-3 py-3 mt-3 text-center">

      <div class="col-md-8 mx-auto">
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8 mt-4 para">
        <h1>WORD COUNTER</h1>
        <p>To use this Word Count Checker, please copy and paste your content into the box below, and then sit back and watch as Word Count Checker will run a real-time scan.</p>
      </div>
      <div class="col-md-2">

      </div>
    </div>

    <!-- Grid -->
      <div class="row text-center mt-3">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Manually Enter</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">File Upload</button>

            </div>
          </nav>



          <div class="tab-content contentform" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <form action='/Word_Count/' class="input_url1" onsubmit="add_loader()" method="POST">

                {% csrf_token %}

                <div class="form-floating">
                <textarea class="form-control " placeholder="Enter Text Here" id="word" name="word" style="height: 100px"required >{{word}}</textarea>
                <label for="word">Word </label>
                </div>
                <button type="submit" class="btn btn-outline-success mt-2 btn-center">Count Words</button>


              </form>
            </div>


            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <form action='/Word_Count/' id="upload_file"  onsubmit="add_loader()" enctype="multipart/form-data" method="POST">

                {% csrf_token %}

              <input type="file" id="myFile" name="filename" style="width: 100%;"onchange="previewFile()" >
              <!-- <img src="" id="preview" alt="uploaded_img"> -->
              <div style="clear:both">
                <iframe id="viewer" frameborder="0" scrolling="no" width="300" height="200"></iframe>
             </div>
              <button type="button" id="docscheck" onclick="Validatefile()" class="btn btn-outline-success mt-2 btn-center">Upload file</button>
            </form>
            </div>

          </div>



        </div>


        <div class="col-md-2">
        </div>

      </div>



<!-- Word Description -->
<div class="container">
<div class="row mt-3 ">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 alert alert-info "role="alert">
    You entered the total {{context.Total_word}} word and total {{context.word_length}} character
  </div>
  <div class="col-md-2">

  </div>
  </div>
</div>


<!-- Heading -->
    <div class="row mt-4">
      <h5>BASIC WORDS COUNT STATISTICS</h5>
    </div>

      <div class="row mt-3 content">
        <div class="col-md-3">



          <nav>
            <div class="nav nav-tabs left-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#STATISTICS" role="tab" aria-controls="nav-home" aria-selected="true">WORDS STATISTICS</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#READING" role="tab" aria-controls="nav-profile" aria-selected="false">READING TIME</a>
              <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a> -->
            </div>
          </nav>

        </div>


        <div class="col-md-6 STATISTICS " id="STATISTICS">


                <table class="table">


                  <tbody>
                      <tr>
                        <th><label for="">Total_word</label></th>

                            <td> {{context.Total_word}}</td>
                        </tr>

                        <th><label for="">Total Characters (With Space) </label></th>

                        <td>{{context.word_length}}</td>
                        </tr>

                        <th><label for="">Total Characters (Without Space)</label></th>

                        <td> {{context.withoutt_spc}}</td>
                        </tr>


                        <th><label for="">Longest Word is </label></th>

                        <td> {{context.longest}}</td>
                        </tr>

                        <th><label for="">Repeated Elements are</label></th>

                        <td> {{context.Rep_item}}</td>
                        </tr>

                  </tbody>
                </table>


                <div class="read_time " id="READING">
                  <h5>READING TIME</h5>


                <table class="table ">


                  <tbody>
                      <tr>
                        <th><label for="">Estimated Reading Time </label></th>

                            <td> {{context.Reading_Time}}</td>
                        </tr>

                        <th><label for="">Estimated Speaking Time </label></th>

                        <td>{{context.SpeakTime}}</td>
                        </tr>
<!--
                        <th><label for="">Total Characters (Without Space)</label></th>

                        <td> {{withoutt_spc}}</td>
                        </tr> -->

                  </tbody>
                </table>

                </div>


        </div>

        <div class="col-md-3">
          <div class="alert alert-success" role="alert">
            {{context.word_length}} &nbsp Characters
          </div>
          <div class="alert alert-primary" role="alert">
            {{context.Total_word}} &nbsp Words
          </div>
          <div class="alert alert-danger" role="alert">
            {{context.Reading_Time}} &nbsp Reading Time
          </div>
          <div class="alert alert-success" role="alert">
            {{context.len_sen}} &nbsp Sentences
          </div>
          <div class="alert alert-danger" role="alert">
            {{context.syllable}} &nbsp Syllable
          </div>
        </div>
    </div>


  <script>
    var myfile="";
      function Validatefile(){
        let inp = document.getElementById('myFile');
        if((inp.files).length === 0){
          alert("Upload file")
        }else{
          let file = inp.files[0].name;
          let ext = file.split(".")
          ext = ext[(ext.length)-1]
          if (ext === "pdf" ||ext === "doc" ||ext === "docx"){
            document.getElementById('upload_file').submit()
          }else{
            alert("Please Upload PDF or Doc File ")
          } 
        }

       


    }

  </script>

<script>

  function previewFile() {
    let pdffile=document.getElementById("myFile").files[0];
    let check_file=myFile.value.split('.')[1]
    if (".pdf"){
        let pdffile_url=URL.createObjectURL(pdffile);
        $('#viewer').attr('src',pdffile_url);
    }
    else{
      let word_file=URL.createObjectURL(pdffile);
        $('#viewer').attr('src',word_file);
    }

}
// <iframe src="http://docs.google.com/gview?url=http://example.com/my-document.doc&embedded=true"></iframe>

</script>
{% endblock %}